button[type=submit] {
    background-color: var(--cta);
    border: 0;
    font-family: var(--primaryFont);
    color: var(--light);
    text-align: center;
    font-weight: 700;
    /*padding-left: 124px;
    padding-right: 124px; */
    padding-top: 12px;
    padding-bottom: 12px; 
    border-radius: 15px;
    font-size: 24px;
    margin-top: 25px;
    cursor: pointer;
    min-width: 31%;
    transition: 0.3s;
}

button[type=submit]:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #47F36D;
    transition: 0.3s;
}

button[type=submit]:disabled {
    background-color: #3737;
    opacity: 0.5;
    cursor: not-allowed;
}

button[disabled]:hover {
    box-shadow: none;
}

@media screen and (max-width:768px){
    button[type=submit]{
       min-width: 100%;    
    }
}

@media screen and (max-width:768px){
    button[type=submit]{
       min-width: 100%;    
    }
}