section.results {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 40px;
    row-gap: 30px;
}

section.results .card{
    background-color: var(--light);
    border-radius: 15px;
    display: flex;
    flex-basis: 32%;
}

section.results .card .img {
    background-color: var(--primary);
    display: flex;
    flex-basis: 40%;
    padding: 26px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

section.results .card .stats h3 {
    font-family: var(--primaryFont);
    color: var(--dark);
    font-weight: 700;
    font-size: 20px;
}

section.results .card .stats p {
    font-family: var(--primaryFont);
    color: var(--dark);
    font-size: 12px;
}

section.results .card .stats {
    display: flex;
    margin-left: 22px;
    gap: 5px;
    flex-direction: column;
    margin-right: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}


section.results .card .stats ul { 
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


section.results .card .stats ul li  { 
    font-family: var(--primaryFont);
    color: var(--dark);
    font-size: 12px;
    flex-basis: 30%;
    
}


