form .inputs .formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 32%;
}
form .inputs .formGroup label{
    color: var(--dark);
    font-family: var(--primaryFont);
    font-size: 15px;
    font-weight: 700;
}
form .inputs .formGroup input {
    color: var(--dark);
    background: var(--light);
    border: 1px solid var(--dark);
    border-radius: 15px;
    font-family: var(--primaryFont);
    font-size: 15px;
    font-weight: 400;
    padding: 15px;
}
form .inputs .formGroup input::placeholder{
    color: var(--placeholder);
    font-family: var(--primaryFont);
    font-size: 15px;
    font-weight: 400;
}
form .inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    row-gap: 25px;
}

form .inputs .formGroup input.error{
   color: var( --error);
   border-color: var( --error);
}

form .inputs .formGroup input:focus{
    outline: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1024px){
    form .inputs .formGroup{
        flex-basis:48%;

    }
    form .inputs .formGroup label{
        font-size:13px;
        padding-right: 11.3px;
    }
}

@media screen and (max-width:768px){
    form .inputs .formGroup{
        flex-basis:100%;

    }
    form .inputs .formGroup label{
        font-size:13px;
        padding-right: 11.3px;
    }

}
