@import url("variabiles.css");
@import url("reset.css");
@import url("inputs.css");
@import url("card.css");
@import url("errors.css");
@import url("button.css");

div.container {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    background: var(--background);
    display: flex;
    flex-direction: column;
}
main {
    padding-top: 75px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.title h1 {
    color: var(--dark);
    font-family: var(--primaryFont);
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}
.title h2{
    color: var(--dark);
    font-family: var(--primaryFont);
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

@media screen and (max-width:768px){
    .title h1{
        font-size: 34px;
    }

    .title h2{
        font-size: 15px;

    }
}