@import url("variabiles.css");
@import url("reset.css");


div.container {
    width: 100%;
    height: 100vh;
    background: var(--background);
}
main {
    padding-top: 75px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}