:root {
    --dark: #000000;
    --cta: #94E1A5;
    --primary: #E36736;
    --light: #FFFFFF;
    --placeholder: #CBCBCB;
    --background: linear-gradient(180deg, #EEF4FF 0%, #DEE9FF 100%);
    --error: #F01515;

}